</div> <!-- Container end -->

<footer class="text-center mt-5">
    <p>&copy; 2024 Academic Assessment System</p>
</footer>


<script src="/js/main.js"></script>
<script src="/js/notifications.js"></script>
</body>
</html>
